.scroll-top {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cl-dark);
    color: var(--cl-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10;

    &:hover {
        color: var(--cl-priamary-alt)
    }
}